.attachment-list {
  padding: none;
  width: 100%;
}
.attachment-list-item {
  cursor: pointer;
  padding: 5px;
}

.attachment-list-item:hover > i {
  background: rgba(0, 0, 255, 0.795);
  color: white;
}
